<div class="sw-list section-image" style="background-image: url('assets/images/espacio.jpg')">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="title">Film List</h2>

            </div>
        </div>

        <div class="row">

            <ng-container *ngFor="let film of films; let i = index">
                <div class="col-md-4 mb-4">
                    <div class="card card-sw-list">
                        <div class="card-episode">
                            <p class="mt-3">Episode</p>
                            <h1>{{film?.episode_id}}</h1>
                        </div>

                        <div class="card-content">
                            <a [routerLink]="['../detail/',i+1]">
                                <h4 class="card-title">{{film?.title}}</h4>
                            </a>
                            <h5 class="category text-muted">{{film?.director}}</h5>
                            <h6>{{film?.release_date | date: 'yyyy'}}</h6>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>

    </div>
</div>