<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation-demo">
    <div class="container">

      <div class="navbar-header">
        <a href="/star-wards/list" class="navbar-brand" >
            <img src="assets/images/nave.jpg" alt="" width="auto" height="50" >
            STAR WARS
        </a>
      </div>

        <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="/read-more">
                    Subscribe
                  </a>
              </li>
         </ul>
    </div>
</nav>